.pvl-app-container {
  // padding: 10pt;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;

  & > .pvl-lineup-container {
    display: flex;
    flex-wrap: wrap;
  }
}
