$court-border-thickness: .4em;

$court-color-main: #ff8b4d;
$court-color-secondary: #feb29e;
$outer-bounds-color: #77cbda;

$court-size: 50em;
$player-circle-size: 6em;

$player-font-size: 1.4em;

@mixin front-row($lineType: solid) {
  display: flex;
  justify-content: space-evenly;
  height: 33.333%;
  border-bottom: $court-border-thickness $lineType white;
}

@mixin back-row {
  display: flex;
  justify-content: space-evenly;
  height: 66.666%;
}

.pvl-lineup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .pvl-court-outer-bounds-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .pvl-court-outer-bounds {
      background-color: $outer-bounds-color;
      padding: 10pt 80pt 140pt 80pt;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & .pvl-court-net {
        background-color: white;
        border: 2pt solid gray;
        height: .5em;
      }

      & .pvl-court-side-wrapper {
        display: flex;
        justify-content: center;

        & .pvl-court-left-outer-side {
          width: 140pt;

          & .pvl-front-left-outer-side {
            @include front-row(dotted);
          }

          & .pvl-back-left-outer-side {
            @include back-row();
            // border-left: $court-border-thickness dotted white;
          }
        }

        & .pvl-court-right-outer-side {
          width: 140pt;

          & .pvl-front-right-outer-side {
            @include front-row(dotted);
          }

          & .pvl-back-right-outer-side {
            @include back-row();
            // border-right: $court-border-thickness dotted white;
          }
        }

        & .pvl-court-outline {
          background-color: $court-color-main;
          display: flex;
          flex-direction: column;

          border: $court-border-thickness solid white;

          width: $court-size;
          height: $court-size;

          & .pvl-volleyball-player {
            color: white;

            display: flex;
            flex-direction: column;
            justify-content: center;

            & > .pvl-player-main-body {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: $player-font-size;

              width: $player-circle-size;
              height: $player-circle-size;
              border-radius: $player-circle-size * 2;

              border: .2em solid white;
            }

            & > .pvl-player-info {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: $player-font-size;
            }
          }

          & .pvl-court-front-row {
            @include front-row();
          }

          & .pvl-court-back-row {
            @include back-row();

            background-color: $court-color-secondary;
            height: 66.666%;
          }
        }
      }
    }
  }
}

.pvl-player-form-container {
  display: flex;
  flex-direction: column;

  padding: .3em 0 0 .6em;

  & label {
    padding-right: .3em;
  }

  & .pvl-input-wrapper {
    padding: .3em;
    display: flex;
    justify-content: flex-end;
  }
}
