@import "./common.scss";

.pvl-lineup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 6;
  flex-basis: 80vw;

  & .pvl-court-outer-bounds-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .pvl-court-outer-bounds {
      background-color: $outer-bounds-color;
      // padding: 10pt 80pt 140pt 80pt;
      padding: 2% 4% 8% 4%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & .pvl-court-net {
        background-color: white;
        border: 2pt solid gray;
        height: 0.5em;
      }

      & .pvl-court-side-wrapper {
        display: flex;
        justify-content: center;

        & .pvl-court-left-outer-side {
          width: 10%;

          & .pvl-front-left-outer-side {
            @include front-row(dotted);
          }

          & .pvl-back-left-outer-side {
            @include back-row();
            // border-left: $court-border-thickness dotted white;
          }
        }

        & .pvl-court-right-outer-side {
          width: 10%;

          & .pvl-front-right-outer-side {
            @include front-row(dotted);
          }

          & .pvl-back-right-outer-side {
            @include back-row();
          }
        }

        & .pvl-court-outline {
          background-color: $court-color-main;
          display: flex;
          flex-direction: column;

          border: $court-border-thickness solid white;

          & .pvl-court-front-row {
            @include front-row();
          }

          & .pvl-court-back-row {
            @include back-row();

            background-color: $court-color-secondary;
            height: 66.666%;
          }
        }
      }
    }
  }
}

.pvl-player-form-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  padding: 0.3em 0.3em 0 0.6em;

  & h4 {
    // text-align: right;
  }

  & label {
    padding-right: 0.3em;
  }

  & .pvl-input-wrapper {
    padding: 0.3em;
    display: flex;
    justify-content: flex-end;
  }
}
